body {
    margin: 0;

    * {
        font-family: 'Open Sans';
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }

    .flexbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid #373D87;
    }

    .select {
        font-size: 14px;
        font-weight: 700;
        position: relative;
        flex: 1;
        height: 45px;
        padding: 13px 20px;
        color: #373D87;
        background-color: #fff;
        border-radius: 10px;
        cursor: pointer;

        img {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
        }
    }

    .go {
        font-size: 12px;
        width: 70px;
        height: 45px;
        margin-left: 7px;
        background-color: #CBE2FD;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }

    .select-area-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 28px 26px;
        background-color: #006EF5;
        border-radius: 9px 9px 0 0;
    }

    .select-popup {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100vw;
        max-height: 50vh;
        top: auto;
        bottom: -50vh;
        padding: 26px;
        background-color: #FAFDFF;
        border: 1px solid #006EF5;
        border-radius: 9px 9px 0 0;
        z-index: 9;
        transition: 0.3s;

        .title {
            position: relative;
            font-size: 14px;
            font-weight: 700;
            text-align: center;

            img {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }

        .search-wrapper {
            position: relative;
            margin: 30px 0 20px;

            input {
                font-size: 12px;
                font-weight: 900;
                display: block;
                width: 100%;
                padding: 12px 40px 12px 20px;
                color: #707070;
                border: 1px solid #83B9FC;
                border-radius: 8px;
            }

            img {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .options {
            flex: 1;
            overflow: auto;

            .option {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 12px;
                transition: 0.3s;

                &:not(:last-of-type) {
                    border-bottom: 1px solid #D9DBF5;
                }

                p {
                    font-size: 12px;
                }

                span {
                    font-size: 10px;
                    padding: 4px 12px;
                    border: 1px solid #D9DBF5;
                    border-radius: 16px;
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover {
                        color: #fff;
                        background-color: #0072FD;
                        border-color: #3992FF;
                    }
                }

                &:hover {
                    background-color: #E5F0FC;
                }

                &.selected {
                    background-color: #E5F0FC;

                    span {
                        color: #fff;
                        background-color: #0072FD;
                        border-color: #3992FF;
                    }
                }
            }
        }

        &.open {
            bottom: 0;
        }
    }

    .container {
        padding: 20px 26px 32px;

        .header {
            position: relative;
            margin-bottom: 25px;

            img {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            h2 {
                font-size: 20px;
                text-align: center;
            }
        }

        .time-wrapper {
            margin-top: 36px;

            .subtitle {
                font-size: 13px;

                +.flexbox {
                    padding-left: 15px;
                    padding-right: 0;
                    border: none;
                }
            }

            .flex {
                display: flex;
                align-items: center;

                .radio {
                    width: 23px;
                    height: 23px;
                    margin: 0 10px 0 0;
                }

                label {
                    font-size: 12px;
                }
            }

            .time {
                width: 55%;
                height: 40px;
                padding: 12px;
                border-radius: 12px;
                border: 1px solid #C9C9C9;

                &::-webkit-calendar-picker-indicator {
                    background: url('./images/arrow.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    transform: rotate(180deg);
                }
            }

            .checked-date {
                margin-top: 15px;
                padding: 22px 0;
                background-color: #F5F9FD;
                border: 1px solid #83B9FC;
                border-radius: 10px;

                div {
                    flex: 1;
                    padding: 0 20px;

                    &:first-of-type {
                        flex: 2;
                        border-right: 1px solid #C7BDBD;
                    }

                    span {
                        display: block;
                        font-size: 12px;
                        margin-bottom: 6px;
                    }

                    p {
                        font-size: 16px;
                        font-weight: bold;
                        color: #0072FD;
                        white-space: nowrap;
                    }
                }
            }
        }

        .swipe-wrapper {
            position: relative;
            margin-top: 25px;
            padding: 16px 0;
            background-color: #F5F9FD;
            border: 1px solid #83B9FC;
            border-radius: 40px;
            text-align: center;

            .swipe {
                position: absolute;
                left: 0;
                top: -1px;
            }

            p {
                font-size: 15px;
                color: #373D87;
            }
        }

        .wrapper {
            margin-bottom: 20px;
            padding: 0 22px;
            background-color: #FCF3F4;
            border: 1px solid #F2E4E6;
            border-radius: 10px;

            .title {
                font-size: 13px;
                font-weight: 400;
                padding: 16px 0;
                border-bottom: 1px solid #F2E4E6;
            }

            .content {
                padding: 22px 0;

                input {
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 45px;
                    margin-bottom: 14px;
                    padding: 0 22px;
                    background-color: #fff;
                    border: none;
                    border-radius: 10px;
                }

                .flex {
                    display: flex;
                    align-items: center;

                    &.whatsup {
                        margin: 18px 0 14px;

                        .whatsup-icon {
                            margin-right: 10px;

                            +p {
                                font-size: 13px;
                                font-weight: 700;
                            }
                        }
                    }

                    .selectbox {
                        position: relative;
                        min-width: 100px;
                        margin-right: 10px;

                        .selected div {
                            font-size: 12px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            height: 45px;
                            padding: 0 14px;
                            background-color: #fff;
                            border: none;
                            border-radius: 10px;

                            .arrow {
                                transform: rotate(180deg);
                            }
                        }

                        .option {
                            display: none;
                            position: absolute;
                            left: 0;
                            top: 100%;
                            background: white;
                            width: 100%;
                            border: 1px solid #F2E4E6;
                            border-radius: 10px;

                            .item {
                                font-size: 12px;
                                padding: 5px;

                                img {
                                    margin-right: 5px;
                                }
                            }
                        }
                    }

                    .number {
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 45px;
                        padding: 0 10px;
                        background-color: #fff;
                        border: none;
                        border-radius: 10px;

                        span {
                            position: relative;
                            padding-right: 8px;

                            &:after {
                                content: '';
                                position: absolute;
                                top: 50%;
                                right: 0;
                                height: 26px;
                                width: 1px;
                                background-color: #383838;
                                transform: translateY(-50%);
                            }
                        }

                        input {
                            margin-bottom: 0;
                            padding: 0 0 0 8px;
                            outline: none;
                        }
                    }

                    &.half {
                        justify-content: space-between;

                        input {
                            width: calc(50% - 5px);
                        }
                    }
                }
            }

            &.payment-options {
                .flex {
                    margin-top: 6px;

                    >div {
                        flex: 1;

                        input {
                            width: 15px;
                            height: 15px;
                            margin: 0 12px 0 0;
                            border: 1px solid #514471;
                            border-radius: 4px;
                        }

                        img:not(:last-of-type) {
                            margin-right: 4px;
                        }
                    }

                    +h4 {
                        font-size: 12px;
                        font-weight: 300;
                        color: #393838;
                        margin: 20px 0 0 28px;

                        span {
                            display: inline-block;
                            color: #0072FD;
                            text-decoration: underline;
                        }
                    }
                }
            }

            &.check-availability {

                .content {
                    text-align: center;

                    h4 {
                        font-size: 12px;
                        font-weight: 300;
                        color: #393838;

                        span {
                            display: inline-block;
                            color: #0072FD;
                            text-decoration: underline;
                        }
                    }

                    >a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 12px;
                        width: max-content;
                        color: #fff;
                        margin: 20px auto;
                        padding: 10px 18px;
                        background-color: #62CB3C;
                        border-radius: 8px;
                        text-decoration: none;

                        img {
                            margin-left: 15px;
                        }
                    }

                    div {
                        font-size: 12px;
                        width: 100%;
                        padding: 13px;
                        background-color: #fff;
                        border: 1px solid #F5DCDE;
                        border-radius: 5px;

                        a {
                            color: #0072FD;
                        }
                    }
                }
            }
        }

        .location {
            display: flex;
            align-items: center;
            padding: 15px;
            background-color: #3891FF;
            border: 1px solid #0364DB;
            border-radius: 5px;

            span {
                font-size: 12px;
                color: #fff;
                margin-left: 15px;
            }

            .arrow {
                margin-left: auto;
                filter: invert(1);
                transform: rotate(90deg);
            }
        }

        .offers {
            margin: 40px 0;

            .subtitle {
                font-size: 13px;
                margin-bottom: 18px;
            }

            .items {
                display: flex;
                overflow-x: auto;

                .item {
                    font-size: 11px;
                    min-width: max-content;
                    color: #4D7DB2;
                    padding: 7px 20px;
                    border: 1px solid #9DC7FA;
                    border-radius: 23px;

                    &:not(:last-of-type) {
                        margin-right: 15px;
                    }

                    &.active {
                        color: #fff;
                        background-color: #0072FD;
                    }
                }
            }
        }

        .instructions {
            h4 {
                font-size: 12px;
                font-weight: 300;
                color: #393838;

                span {
                    display: inline-block;
                    color: #0072FD;
                    text-decoration: underline;
                }
            }

            textarea {
                width: 100%;
                height: 130px;
                margin: 17px 0;
                padding: 12px 20px;
                background-color: #FCF3F4;
                border: 1px solid #F5DAD6;
                border-radius: 10px;
                resize: none;
            }

            span {
                display: block;
                font-size: 9px;
                line-height: 1.5;
                color: #393838;
            }

            button {
                font-size: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 55px;
                color: #fff;
                margin-top: 30px;
                background-color: #0072FD;
                border: none;
                border-radius: 10px;
            }
        }

        &.fourth {
            display: flex;
            flex-direction: column;
            height: 100vh;

            .proceed {
                margin-top: auto;
            }
        }

        &.congrats {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #fff;
            background-color: #0072FD;
            text-align: center;

            h1 {
                font-size: 24px;
                margin: 20px 0;
            }

            p {
                font-size: 15px;
            }
        }
    }
}

/* Calendar */
.calendar {
    height: auto;
    width: 100%;
    border: 1px solid #0072FD;
    border-radius: 18px;
    background: #FAFDFF;
    user-select: none;
}

.month h1 {
    font-size: 17px;
}

.icon {
    background: transparent;
    width: max-content;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: 0;
}

#calendar {
    display: block;
    width: 100%;
    padding: 25px 15px 5px;
}

.weekends th {
    font-size: 15px;
    width: 36px;
    color: #151515;
    font-weight: 400;
}

#calendar tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;

    &:first-of-type {
        margin-bottom: 30px;
    }
}

#calendar td {
    display: flex;
    height: 36px;
    width: 36px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99;

    .btn-day {
        font-size: 15px;
        color: #151515;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: none;
        border: none;

        &.active {
            color: #fff;
            background-color: #006FF5;
        }
    }
}